{% extends 'master.njk' %}

{% block pageTitle %}
Gabriel Silveira, Full stack developer
{% endblock %}

{% block content %}
        <h1 id="home-title">full stack developer</h1>
        <p id="main-text">Hello, my name is Gabriel Silveira. I'm a</p>
{% endblock %}