<!DOCTYPE html>
<html lang="pt" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>{{ title }}</title>

    <!-- EXTERNAL -->
    <link href="https://fonts.googleapis.com/css?family=Cinzel+Decorative:900" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Montserrat:300" rel="stylesheet">


    <link rel="stylesheet" href="/css/fontawesome-free/css/all.css">
    <link rel="stylesheet" href="/css/geral.css">
    <link rel="stylesheet" href="/css/hamburgers.min.css">

    <script src="/js/vue.min.js" charset="utf-8"></script>

    <link rel="stylesheet" href="/css/home.css">
    <script src="/js/vue/home.js" defer></script>
  </head>
  <body>
    <div id="app">
      <div id="main-menu" :class="{ active: openNav }">
        <nav id="nav-main-menu">
          <div id="menu-logo"></div>
          <a @click="go(0)">Profile</a>
          <a @click="go(1)">What i do</a>
          <a @click="go(2)">Recent works</a>
          <a @click="go(3)">Articles</a>
          <a @click="go(4)">Let’s have a chat</a>
        </nav>
      </div>

      <div id="social">
        <i class="fab fa-linkedin"></i>
        <i class="fab fa-github"></i>
        <i class="fab fa-google-plus-g"></i>
      </div>

      <section id="home">
        <div id="wrapper-hamburger" @click="toggleMenu()">
          <button id="hamburger-icon" class="hamburger hamburger--spin" type="button">
            <span class="hamburger-box">
              <span class="hamburger-inner"></span>
            </span>
          </button>
        </div>

        <h1>full stack developer</h1>
        <p id="main-text">Hello, my name is Gabriel Silveira. I'm a</p>
      </section>
    </div>
  </body>
</html>
