<!DOCTYPE html>
<html lang="pt" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>{% block pageTitle %}{% endblock %}</title>
    <link rel="icon" href="http://gabrielsilveira.com.br/imgs/logo_gs_favicon.png" sizes="16x16">

    <!-- EXTERNAL -->
    <link href="https://fonts.googleapis.com/css?family=Cinzel+Decorative:900,700" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Montserrat:300,400" rel="stylesheet">

    <link rel="stylesheet" href="https://cdn.rawgit.com/konpa/devicon/df6431e323547add1b4cf45992913f15286456d3/devicon.min.css">

    <link rel="stylesheet" href="/css/fontawesome-free/css/all.css">
    <link rel="stylesheet" href="/css/geral.css">
    <link rel="stylesheet" href="/css/hamburgers.min.css">

    <script src="/js/vue.min.js" charset="utf-8"></script>
    <script src="/js/axios.min.js" charset="utf-8"></script>

    <script src="/js/vue/app.js" defer></script>

{% block scripts %}{% endblock %}
  </head>
  <body>
    <div id="app">
      <div id="main-menu" :class="{ active: openNav }">
        <nav id="nav-main-menu">
          <div id="menu-content-wrapper" v-if="sections">
            <div id="menu-logo" @click="go(0)" title="Home page..."><img src="http://gabrielsilveira.com.br/imgs/logo_gs.png" alt="Logo Gabriel Silveira"></div>
            <a @click="go(1)">[[ getMenuItemText(1) ]]</a>
            <a @click="go(2)">[[ getMenuItemText(2) ]]</a>
            <a @click="go(3)">[[ getMenuItemText(3) ]]</a>
            <a @click="go(4)">[[ getMenuItemText(4) ]]</a>
            <a @click="go(5)">[[ getMenuItemText(5) ]]</a>
            <div id="menu-footer">
              <h3>[[ texts.title ]]</h3>
              <p><b>E-mail</b> hello@gabrielsilveira.co</p>
              <p><b>Whatsapp</b> +55 11 976-768-736</p>
              <div id="dev-icons-bar">
                <p>[[ texts.dev_with ]]</p>
                <i class="devicon-javascript-plain" title="Javascript"></i>
                <i class="devicon-nodejs-plain" title="Node.js"></i>
                <i class="devicon-express-original" title="Express"></i>
                <i class="devicon-vuejs-plain-wordmark" title="Vue.js"></i>
                <i class="devicon-mysql-plain" title="MySQL"></i>
              </div>
            </div>
          </div>
        </nav>
      </div>

      <div id="social">
        <i class="fab fa-linkedin"></i>
        <i class="fab fa-github"></i>
        <i class="fab fa-google-plus-g"></i>
      </div>

      <section id="page-content">
        <div id="wrapper-hamburger" @click="toggleMenu()">
          <button id="hamburger-icon" class="hamburger hamburger--spin" type="button">
            <span class="hamburger-box">
              <span class="hamburger-inner"></span>
            </span>
          </button>
        </div>
        {% block content %}
        {% endblock %}
      </section>
    </div>
  </body>
</html>
