{% extends 'master.njk' %}

{% block pageTitle %}{{ title }}{% endblock %}

{% block scripts %}
    <link rel="stylesheet" href="/css/profile.css">
{% endblock %}

{% block content %}
        <div class="content-wrapper">
          <div class="purple-gradient">
            <div id="profile">
              <figure id="aboutPhoto">
                  <img src="/imgs/gabriel-silveira-profile.png" alt="Gabriel Silveira - Photo" />
              </figure>
              <div class="col-left">
                <div>
                  <h3>Onde estou</h3>
                  <p>Vila Mariana, São Paulo - SP</p>
                </div>
                <div>
                  <h3>Formação</h3>
                  <p>Universidade Presbiteriana Mackenzie - 2019</p>
                </div>
                <div>
                  <h3>Aniversário</h3>
                  <p>29, Junho</p>
                </div>
                <div>
                  <h3>Curriculum</h3>
                  <p><a>Baixar</a></p>
                </div>
              </div>
              <div class="col-right">
                <h1>Olá, eu sou Gabriel Silveira. Tudo bem?</h1>
                <p>Desde o início da minha jornada, até me tornar um desenvolvedor full stack, <br/>trabalhei como designer gráfico e web designer para diversas empresas.</p>
                <p>Atualmente dedico meu tempo como desenvolvedor front-end na <a>INTI</a> <br/>e no restante faço projetos como freelancer e crio meus próprios produtos.</p>
                <h2>Porque trabalhar comigo</h2>
                <p>Eu simplesmente adoro engenharia de software. <br/>Sempre tento chegar o mais próximo da perfeição em meus trabalhos.</p>
                <p>Para mim, cada projeto é único e deve ser tratado com um carinho especial.<br/>Se há algo que você deseja realizar, não hesite em me <a @click="go(6)">contatar</a>.</p>
              </div>
            </div>
          </div>
        </div>
{% endblock %}
