{% extends 'master.njk' %}

{% block pageTitle %}What I do - Gabriel Silveira{% endblock %}

{% block scripts %}
    <link rel="stylesheet" href="/css/what-i-do.css">
{% endblock %}

{% block content %}
        <div class="content-wrapper">

        </div>
{% endblock %}