{% extends 'master.njk' %}

{% block pageTitle %}{{ title }}{% endblock %}

{% block scripts %}
    <link rel="stylesheet" href="/css/what-i-do.css">
{% endblock %}

{% block content %}
        <div class="content-wrapper">
            
        </div>
{% endblock %}