:root {
  --purple: #3040D0;
}

* {
  margin: 0px;
  padding: 0px;
  font-family: 'Montserrat', sans-serif;
}

body {
  background-color: var(--purple);
}

div#app {
  overflow: hidden;
  position: absolute;
  width: 100%;
  height: 100%;
}

section#home {
  position: absolute;
  width: 100%;
  height: 100%;
  background: url('/imgs/background.jpg');
  background-size: 100% auto;
  background-position: bottom center;
}

section#home h1 {
  position: absolute;
  width: 940px;
  left: 50%;
  margin-left: -470px;
  top: 50%;
  margin-top: -105px;

  text-align: center;
  line-height: 100%;
  font-family: 'Cinzel Decorative', cursive;
  font-size: 140px;
  color: #FFF;
  text-shadow: 5px 5px 15px rgba(255,255,255,0.5);
}

section#home #nome {
  position: absolute;
  width: 920px;
  left: 50%;
  margin-left: -460px;
  top: 50%;
  margin-top: -175px;

  font-size: 42px;
  color: #FFF;
}

#wrapper-hamburger {
  z-index: 3;
  cursor: pointer;
  position: absolute;
  padding: 20px;
  top: 0px;
  right: 0px;
}
.hamburger-inner, .hamburger-inner::after, .hamburger-inner::before {
  background-color: #FFF !important;
}

#main-menu {
  z-index: 1;
  display: none;
  position: absolute;
  left: 0px;
  top: 0px;
  width: 100%;
  height: 100%;
  background-color: rgba(255,255,255,0.0);
  transition: all 0.5s;
}
#main-menu.active {
  background-color: rgba(255,255,255,0.5);
}
#nav-main-menu {
  z-index: 2;
  position: absolute;
  top: 0px;
  right: -400px;
  width: 400px;
  height: 100%;
  background-color: rgba(255,255,255,0.8);
  transition: all 0.7s ease;
}
#nav-main-menu.active {
  right: 0px;
}
