:root {
  --purple: #3040D0; /* rgb(48, 64, 208) */
}

* {
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
  font-family: 'Montserrat', sans-serif;
  font-weight: 300;
  text-decoration: none;
}

body {
  background-color: #FFF;
}
h1, h2, h3 {
  padding: 0px 0px 10px 0px;
  font-family: 'Cinzel Decorative', cursive;
  font-weight: normal;
  color: #FFF;
}
p {
  line-height: 160%;
  padding: 0px 0px 10px 0px;
}
a {
  cursor: pointer;
  font-weight: 400;
}

button::-moz-focus-inner {
  border: 0;
}

div#app {
  overflow: hidden;
  position: absolute;
  width: 100%;
  height: 100%;
}

#page-transition {
  z-index: 99999;
  position: fixed;
  left: 0px;
  bottom: 0px;
  width: 100%;
  height: 0%;
  background-color: #180024;
  opacity: 0.0;

  /* For Safari 3.1 to 6.0 */
  -webkit-transition-property: height, opacity;
  -webkit-transition-duration: 0.5s;
  -webkit-transition-timing-function: ease-in;
  -webkit-transition-delay: 1s;
  /* Standard syntax */
  transition-property: height, opacity;
  transition-duration: 0.5s;
  transition-timing-function: ease-in;
  transition-delay: 1s;
}

#page-transition.full {
  height: 100%;
  opacity: 1.0;
}

#social {
  z-index: 3;
  position: absolute;
  padding: 28px;
  left: 0px;
  top: 0px;
}

#social i {
  margin-right: 25px;
  font-size: 34px;
  color: #FFF;
}

#wrapper-hamburger {
  z-index: 3;
  cursor: pointer;
  position: absolute;
  padding: 20px;
  top: 0px;
  right: 0px;
}
.hamburger-inner, .hamburger-inner::after, .hamburger-inner::before {
  background-color: #FFF !important;
}

#main-menu {
  z-index: 1;
  position: absolute;
  left: 0px;
  top: 0px;
  width: 100%;
  height: 100%;
  background-color: rgba(255,255,255,0.0);
  transition: all 0.5s;
}
#main-menu.active {
  background-color: rgba(255,255,255,0.75);
}
#nav-main-menu {
  z-index: 2;
  position: absolute;
  top: 0px;
  right: -400px;
  width: 400px;
  height: 100%;
  background-color: rgba(48, 64, 208, 0.9);
  transition: all 0.7s ease;
}
#main-menu.active #nav-main-menu {
  right: 0px;
}
#menu-content-wrapper {
  position: absolute;
  bottom: 0px;
  width: 100%;
}
#nav-main-menu #menu-logo {
  cursor: pointer;
  padding-bottom: 14px;
  height: 95px;
  font-family: 'Cinzel Decorative', cursive;
  font-size: 24px;
  color: #FFF;
  text-align: center;
}
#nav-main-menu #menu-logo img {
  height: 70px;
}
#nav-main-menu a {
  display: block;
  width: 100%;
  padding: 18px 15px;
  margin: 1px 0px;
  background-color: var(--purple);
  color: #FFF;
  transition: all 0.3s;
}
#nav-main-menu a:hover {
  padding-left: 25px;
  background-color: rgba(255,255,255,0.25);
  color: #FFF;
}
#nav-main-menu #menu-footer {
  padding: 15px;
  background-color: #000;
  color: #FFF;
}
#nav-main-menu #menu-footer p b {
  display: inline-block;
  width: 100px;
}

section#page-content {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: #3040D0;
}

#dev-icons-bar {
  margin-top: 10px;
  padding-top: 15px;
  border-top: 1px solid rgba(255,255,255,0.1);
  text-align: center;
}
#dev-icons-bar p {
  padding-bottom: 5px;
  font-size: 14px;
  color: rgba(255,255,255,0.35);
}
#dev-icons-bar i {
  display: inline-block;
  margin: 0px 10px;
  font-size: 40px;
}


.purple-gradient {
  position: absolute;
  width: 100%;
  height: 100%;
  background-image: linear-gradient(rgb(48, 64, 208), rgba(48, 64, 208, 0.0));
}

#langs {
  z-index: 1000;
  position: fixed;
  left: 0px;
  bottom: 0px;
  width: auto;
  height: 70px;
}
#langs > span {
  cursor: pointer;
  display: inline-block;
  width: 70px;
  text-align: right;
}
#langs img {
  height: 40px;
}