
section#page-content .content-wrapper {
  position: absolute;
  width: 100%;
  height: 100%;
  background: url('/imgs/backgrounds/43514hd.jpg');
  background-size: cover;
  background-position: center 0px;
}

section#page-content h1, section#page-content h2 {
  position: absolute;
  width: 940px;
  left: 50%;
  margin-left: -470px;
  top: 50%;

  text-align: center;
  line-height: 100%;
  font-weight: 900;
  color: #FFF;
  text-shadow: 5px 5px 20px rgba(255,255,255,0.5);
}
section#page-content h1#home-title {
  margin-top: -105px;
  font-size: 134px;
}
section#page-content h1#home-title--pt-br {
  margin-top: -95px;
  font-size: 89px;
}
section#page-content h2 {
  margin-top: 0px;
  font-size: 118px;
  letter-spacing: 8px;
}

section#page-content p#main-text {
  position: absolute;
  width: 940px;
  left: 50%;
  margin-left: -470px;
  top: 50%;
  margin-top: -175px;

  text-align: center;
  font-size: 46px;
  color: #FFF;
}
