

section#home {
  position: absolute;
  width: 100%;
  height: 100%;
  background: url('/imgs/background.jpg');
  background-size: 100% auto;
  background-position: bottom center;
}

section#home h1 {
  position: absolute;
  width: 940px;
  left: 50%;
  margin-left: -470px;
  top: 50%;
  margin-top: -105px;

  text-align: center;
  line-height: 100%;
  font-family: 'Cinzel Decorative', cursive;
  font-size: 134px;
  color: #FFF;
  text-shadow: 5px 5px 20px rgba(255,255,255,0.5);
}

section#home #main-text {
  position: absolute;
  width: 940px;
  left: 50%;
  margin-left: -470px;
  top: 50%;
  margin-top: -175px;

  text-align: center;
  font-size: 46px;
  color: #FFF;
}
