
section#page-content h1#home-title {
  position: absolute;
  width: 940px;
  left: 50%;
  margin-left: -470px;
  top: 50%;
  margin-top: -105px;

  text-align: center;
  line-height: 100%;
  font-size: 134px;
  color: #FFF;
  text-shadow: 5px 5px 20px rgba(255,255,255,0.5);
}

section#page-content p#main-text {
  position: absolute;
  width: 940px;
  left: 50%;
  margin-left: -470px;
  top: 50%;
  margin-top: -175px;

  text-align: center;
  font-size: 46px;
  color: #FFF;
}
