
section#page-content .content-wrapper {
    position: absolute;
    width: 100%;
    height: 100%;
    background: url('/imgs/backgrounds/background.jpg');
    background-size: cover;
    background-position: center bottom;
}

#profile {
    position: absolute;
    width: 900px;
    height: 400px;
    top: 50%;
    left: 50%;
    margin-left: -450px;
    margin-top: -220px;
}
#profile .col-left {
    float: left;
    padding-right: 30px;
    width: 250px;
    height: 300px;
    text-align: right;
}
#profile .col-left > div {
    margin-bottom: 52px;
}
#profile .col-left h3 {
    margin-top: 5px;
    padding-bottom: 7px;
}
#profile .col-right {
    float: left;
    padding-left: 30px;
    border-left: 1px solid rgba(255,255,255,0.4);
}
#profile h1 {
    font-size: 25px;
}
#profile h2 {
    margin-top: 15px;
}
#profile p {
    color: #FFF;
}
#aboutPhoto {
    position: relative;
    display: block;
    top: 0px;
    width: 100%;
    height: 28%;
    text-align: center;
    padding: 50px 0px 10px 0px;
}
#aboutPhoto img {
    position: absolute;
    left: 50%;
    margin-left: -60px;
    width: 120px;
    bottom: 20px;
    border-radius: 60px;
    border: 4px solid rgba(255,255,255,0.15);
}
#profile a {
    color: #FD0;
}